RewriteEngine on

AddDefaultCharset utf-8

RewriteRule api/v1/(.*)$ contableapp.php?path=$1&type=6 [QSA,NC,L]
RewriteRule ^(.*)\.html$ contableapp.php?path=$1&type=1 [L,QSA]
RewriteRule ^(.*)\.json$ contableapp.php?path=$1&type=2 [L,QSA]
RewriteRule ^(.*)\.pdf$ contableapp.php?name=$1&type=3 [L,QSA]
RewriteRule ^(.*)\.rasty$ contableapp.php?name=$1&type=4 [L,QSA]
RewriteRule ^(.*)\.do$ contableapp.php?path=$1&type=5 [L,QSA]
#RewriteRule ^(.*)$ contableapp.php?path=$1 [L,QSA]

php_flag apc.cache_by_default Off
php_flag apc.enabled Off