<!-- BEGIN:main -->
<style>
.buttons button{

	margin: 10px;
}

</style>
<div class="box">
	<div class="item">
		<h2 class='saldo'>{lbl_fechaHora}</h2>
		<p class='saldo'>{fechaHora}</p>
	</div>
	<div class="item">
		<h2>{lbl_sucursal}</h2>
		<p>{sucursal}</p>
	</div>
	<div class="item">
		<h2>{lbl_cobrador}</h2>
		<p>{cobrador}</p>
	</div>
	<div class="item">
		<h2>{lbl_cliente}</h2>
		<p>{cliente}</p>
	</div>
	<div class="item">
		<h2>{lbl_observaciones}</h2>
		<p>{observaciones}</p>
	</div>
	<div class="item">
		<h2>{lbl_monto}</h2>
		<p>{monto}</p>
	</div>
	<div class="item">
		<h2>{lbl_estado}</h2>
		<p>{estado}</p>
	</div>
</div>
<!-- END:main -->